# WSA Pandas Demo Complete

### Imports
* The `pandas` library should already be installed as part of the Anaconda distribution
* Typically abbreviated as `pd`

In [3]:
import pandas as pd

### Reading in a DataFrame
* We will start by creating a dataframe called `df` containing the Michigan Football GameLog data we have stored in our SQL database.
* This data will be exported and read into Jupyter notebook as a `.csv` file.
* Make sure your `.csv` file is stored in the same folder as this notebook.

In [5]:
# .read_csv()
# drop unneeded id column with .drop()
df = pd.read_csv('Michigan_GameLogs_F24.csv').drop(columns=['id'])
df

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
1,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
3,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
4,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,2024-09-14,2024,Arkansas State,Home,W,28,18,13,18,72.2,134,1,6,44,301,3,14,435,0,3
168,2024-09-21,2024,Southern California,Home,W,27,24,7,12,58.3,32,0,0,46,290,3,12,322,2,0
169,2024-09-28,2024,Minnesota,Home,W,27,24,10,18,55.6,86,1,5,43,155,2,9,241,0,1
170,2024-10-05,2024,Washington,Away,L,17,27,13,25,52.0,113,1,7,37,174,1,9,287,1,1
171,2024-10-19,2024,Illinois,Away,L,7,21,20,32,62.5,208,0,8,38,114,1,10,322,2,1

In [6]:
# .head() shows first 5 rows
df.head()

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
1,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
3,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
4,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0

In [7]:
# .tail() shows last 5 rows
df.tail()

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
167,2024-09-14,2024,Arkansas State,Home,W,28,18,13,18,72.2,134,1,6,44,301,3,14,435,0,3
168,2024-09-21,2024,Southern California,Home,W,27,24,7,12,58.3,32,0,0,46,290,3,12,322,2,0
169,2024-09-28,2024,Minnesota,Home,W,27,24,10,18,55.6,86,1,5,43,155,2,9,241,0,1
170,2024-10-05,2024,Washington,Away,L,17,27,13,25,52.0,113,1,7,37,174,1,9,287,1,1
171,2024-10-19,2024,Illinois,Away,L,7,21,20,32,62.5,208,0,8,38,114,1,10,322,2,1

In [8]:
# .head(n) shows first n rows
df.head(2)

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
1,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3

### Data Preprocessing

In [10]:
# .info() provides essential details for your dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            172 non-null    object
 1   year            172 non-null    int64
 2   opponent        172 non-null    object
 3   home_away       172 non-null    object
 4   result          172 non-null    object
 5   points_scored   172 non-null    int64
 6   points_against  172 non-null    int64
 7   pass_cmp        172 non-null    int64
 8   pass_att        172 non-null    int64
 9   pass_pct        172 non-null    float64
 10  pass_yrds       172 non-null    int64
 11  pass_td         172 non-null    int64
 12  pass_1st_down   172 non-null    int64
 13  rush_att        172 non-null    int64
 14  rush_yrds       172 non-null    int64
 15  rush_td         172 non-null    int64
 16  rush_1st_down   172 non-null    int64
 17  total_offense   172 non-null    int64
 18  fumbles         172 non-null    int64
 19  ints            172 non-null    int64
dtypes: float64(1), int64(15), object(4)
memory usage: 27.0+ KB

In [11]:
# .shape shows dimensions of df (num_rows, num_cols)
df.shape

(172, 20)

#### Null and Duplicate Values

In [13]:
# We can append dataframes to each other using pd.concat()
# It is good practice to never change or update the original df directly
# Always create copies!

temp_df = pd.concat([df,df])
temp_df.shape

(344, 20)

In [14]:
# We can also remove duplicate values with .drop_duplicates()
temp_df.drop_duplicates().shape

(172, 20)

In [15]:
# .isnull() checks for NULL or empty datapoints 
# returns True for any values that are NULL
df.isnull()

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
168,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
169,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
170,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
171,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
# .sum() gets a summary of the above df
df.isnull().sum()

date              0
year              0
opponent          0
home_away         0
result            0
points_scored     0
points_against    0
pass_cmp          0
pass_att          0
pass_pct          0
pass_yrds         0
pass_td           0
pass_1st_down     0
rush_att          0
rush_yrds         0
rush_td           0
rush_1st_down     0
total_offense     0
fumbles           0
ints              0
dtype: int64

In [17]:
# If we did have null values, we could use the .dropna() function to remove all rows with null values
df.dropna()

,date,year,opponent,home_away,result,points_scored,points_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_td,pass_1st_down,rush_att,rush_yrds,rush_td,rush_1st_down,total_offense,fumbles,ints
0,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
1,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
3,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
4,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,2024-09-14,2024,Arkansas State,Home,W,28,18,13,18,72.2,134,1,6,44,301,3,14,435,0,3
168,2024-09-21,2024,Southern California,Home,W,27,24,7,12,58.3,32,0,0,46,290,3,12,322,2,0
169,2024-09-28,2024,Minnesota,Home,W,27,24,10,18,55.6,86,1,5,43,155,2,9,241,0,1
170,2024-10-05,2024,Washington,Away,L,17,27,13,25,52.0,113,1,7,37,174,1,9,287,1,1
171,2024-10-19,2024,Illinois,Away,L,7,21,20,32,62.5,208,0,8,38,114,1,10,322,2,1

#### Modifying DataFrame Columns

In [19]:
# check column information with .columns
df.columns

Index(['date', 'year', 'opponent', 'home_away', 'result', 'points_scored',
       'points_against', 'pass_cmp', 'pass_att', 'pass_pct', 'pass_yrds',
       'pass_td', 'pass_1st_down', 'rush_att', 'rush_yrds', 'rush_td',
       'rush_1st_down', 'total_offense', 'fumbles', 'ints'],
      dtype='object')

In [20]:
# .rename() allows us to rename our columns
df.rename(columns = {
    'home_away' : 'location',
    'points_scored' : 'pts_scored',
    'points_against' : 'pts_against',
    'pass_td' : 'pass_tds',
    'pass_1st_down' : 'pass_first_downs',
    'rush_td' : 'rush_tds',
    'rush_1st_down' : 'rush_first_downs'
}, inplace = True)
df.columns

Index(['date', 'year', 'opponent', 'location', 'result', 'pts_scored',
       'pts_against', 'pass_cmp', 'pass_att', 'pass_pct', 'pass_yrds',
       'pass_tds', 'pass_first_downs', 'rush_att', 'rush_yrds', 'rush_tds',
       'rush_first_downs', 'total_offense', 'fumbles', 'ints'],
      dtype='object')

In [21]:
# Even though the values of year are numeric, we are treating it as a categorical variable
# We can change year to an object type using .astype()
df.year = df.year.astype('object') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              172 non-null    object
 1   year              172 non-null    object
 2   opponent          172 non-null    object
 3   location          172 non-null    object
 4   result            172 non-null    object
 5   pts_scored        172 non-null    int64
 6   pts_against       172 non-null    int64
 7   pass_cmp          172 non-null    int64
 8   pass_att          172 non-null    int64
 9   pass_pct          172 non-null    float64
 10  pass_yrds         172 non-null    int64
 11  pass_tds          172 non-null    int64
 12  pass_first_downs  172 non-null    int64
 13  rush_att          172 non-null    int64
 14  rush_yrds         172 non-null    int64
 15  rush_tds          172 non-null    int64
 16  rush_first_downs  172 non-null    int64
 17  total_offense     172 non-null    int64
 18  fumbles           172 non-null    int64
 19  ints              172 non-null    int64
dtypes: float64(1), int64(14), object(5)
memory usage: 27.0+ KB

### Indexing into our DataFrame

To access a column, we can use bracket notation.

In [24]:
# .describe() gets us a numerical summary of each column that uses numbers
# .round() formats the output
df.describe().round(3)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
count,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000,172.000
mean,32.227,18.895,16.523,27.419,60.609,210.773,1.488,9.413,39.483,183.407,2.267,9.436,394.180,0.500,0.837
std,14.409,12.427,5.619,8.271,11.190,82.726,1.300,3.766,8.507,91.127,1.692,4.141,106.905,0.729,0.947
min,0.000,0.000,7.000,8.000,33.300,32.000,0.000,0.000,15.000,-48.000,0.000,0.000,158.000,0.000,0.000
25%,21.000,10.000,13.000,22.000,52.500,159.500,0.000,7.000,34.000,117.000,1.000,6.750,311.500,0.000,0.000
50%,31.000,17.000,16.000,27.000,60.000,206.000,1.000,9.000,39.500,168.500,2.000,9.000,402.500,0.000,1.000
75%,42.000,26.250,20.000,32.000,68.375,250.250,2.000,11.250,45.000,249.750,3.000,12.000,460.250,1.000,1.000
max,78.000,62.000,33.000,52.000,87.500,503.000,6.000,21.000,61.000,486.000,9.000,20.000,751.000,3.000,5.000

In [25]:
df['pts_scored'].describe()

count    172.000000
mean      32.226744
std       14.409256
min        0.000000
25%       21.000000
50%       31.000000
75%       42.000000
max       78.000000
Name: pts_scored, dtype: float64

In [26]:
# This returns a series
df['opponent']

0         Western Michigan
1               Notre Dame
2         Eastern Michigan
3          San Diego State
4                Minnesota
              ...
167         Arkansas State
168    Southern California
169              Minnesota
170             Washington
171               Illinois
Name: opponent, Length: 172, dtype: object

In [27]:
# This returns a df
df[['opponent']]

                opponent
0       Western Michigan
1             Notre Dame
2       Eastern Michigan
3        San Diego State
4              Minnesota
..                   ...
167       Arkansas State
168  Southern California
169            Minnesota
170           Washington
171             Illinois

[172 rows x 1 columns]

In [28]:
# This returns a df with multiple columns
df[['opponent', 'result']]

                opponent result
0       Western Michigan      W
1             Notre Dame      W
2       Eastern Michigan      W
3        San Diego State      W
4              Minnesota      W
..                   ...    ...
167       Arkansas State      W
168  Southern California      W
169            Minnesota      W
170           Washington      L
171             Illinois      L

[172 rows x 2 columns]

In [29]:
# .value_counts() lets us count the number of times a specific value is in the column
# using .head(n) to show the n most frequent opponents
df['opponent'].value_counts().head(20)

opponent
Michigan State      13
Ohio State          12
Penn State          11
Indiana             11
Rutgers             10
Minnesota            9
Maryland             9
Iowa                 8
Northwestern         7
Nebraska             7
Wisconsin            6
Illinois             6
Notre Dame           6
Purdue               5
Washington           3
Florida              3
Western Michigan     3
Alabama              3
Connecticut          2
South Carolina       2
Name: count, dtype: int64

In [30]:
# .corr(numeric_only=true) shows us the correlation between any combination of columns that have numbers
# Values closer to 1 indicate a higher correlation between variables
corr_df = df.corr(numeric_only=True)
corr_df

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
pts_scored,1.000000,-0.306179,0.098779,-0.210718,0.510223,0.361098,0.543833,0.231234,0.397414,0.598019,0.727049,0.510027,0.789188,-0.228934,-0.370450
pts_against,-0.306179,1.000000,0.240822,0.459252,-0.277354,0.244240,0.020559,0.221087,-0.341835,-0.431584,-0.347385,-0.371176,-0.178888,0.176112,0.303079
pass_cmp,0.098779,0.240822,1.000000,0.843498,0.423930,0.744645,0.335489,0.825911,-0.255992,-0.357629,-0.173476,-0.226509,0.271380,-0.008560,-0.033344
pass_att,-0.210718,0.459252,0.843498,1.000000,-0.102644,0.588409,0.144588,0.671368,-0.374491,-0.531696,-0.401626,-0.395850,0.002103,0.140538,0.164747
pass_pct,0.510223,-0.277354,0.423930,-0.102644,1.000000,0.387924,0.349843,0.403084,0.108266,0.201247,0.334109,0.217803,0.471732,-0.248519,-0.304671
pass_yrds,0.361098,0.244240,0.744645,0.588409,0.387924,1.000000,0.561841,0.859077,-0.191715,-0.246671,0.028424,-0.174737,0.563563,-0.047725,0.016093
pass_tds,0.543833,0.020559,0.335489,0.144588,0.349843,0.561841,1.000000,0.424402,-0.025666,0.068164,-0.049086,0.082966,0.492873,-0.141832,-0.106023
pass_first_downs,0.231234,0.221087,0.825911,0.671368,0.403084,0.859077,0.424402,1.000000,-0.189504,-0.298617,-0.033938,-0.255704,0.410232,-0.071303,0.004193
rush_att,0.397414,-0.341835,-0.255992,-0.374491,0.108266,-0.191715,-0.025666,-0.189504,1.000000,0.670979,0.447171,0.747992,0.423596,0.029684,-0.250720
rush_yrds,0.598019,-0.431584,-0.357629,-0.531696,0.201247,-0.246671,0.068164,-0.298617,0.670979,1.000000,0.661291,0.855832,0.661532,-0.110842,-0.262555
rush_tds,0.727049,-0.347385,-0.173476,-0.401626,0.334109,0.028424,-0.049086,-0.033938,0.447171,0.661291,1.000000,0.521521,0.585688,-0.118428,-0.308305
rush_first_downs,0.510027,-0.371176,-0.226509,-0.395850,0.217803,-0.174737,0.082966,-0.255704,0.747992,0.855832,0.521521,1.000000,0.594306,-0.093890,-0.262072
total_offense,0.789188,-0.178888,0.271380,0.002103,0.471732,0.563563,0.492873,0.410232,0.423596,0.661532,0.585688,0.594306,1.000000,-0.131414,-0.211352
fumbles,-0.228934,0.176112,-0.008560,0.140538,-0.248519,-0.047725,-0.141832,-0.071303,0.029684,-0.110842,-0.118428,-0.093890,-0.131414,1.000000,0.067701
ints,-0.370450,0.303079,-0.033344,0.164747,-0.304671,0.016093,-0.106023,0.004193,-0.250720,-0.262555,-0.308305,-0.262072,-0.211352,0.067701,1.000000

#### Accessing Rows of a DataFrame

There are two ways to access a row using indices:
* `loc[]` requires label indexing 
* `iloc[]` uses integer indexing

In [33]:
# .set_index() to existing column
alt_df = df.set_index('date')
alt_df.head(5)

,year,opponent,location,result,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
date,,,,,,,,,,,,,,,,,,,
2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
2011-09-24,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
2011-10-01,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0

In [34]:
# Returns a Series
row1_loc = alt_df.loc['2011-09-10']
row1_loc

year                      2011
opponent            Notre Dame
location                  Home
result                       W
pts_scored                  35
pts_against                 31
pass_cmp                    11
pass_att                    24
pass_pct                  45.8
pass_yrds                  338
pass_tds                     4
pass_first_downs            10
rush_att                    26
rush_yrds                  114
rush_tds                     1
rush_first_downs             5
total_offense              452
fumbles                      0
ints                         3
Name: 2011-09-10, dtype: object

In [35]:
row1_iloc = alt_df.iloc[1]
row1_iloc

year                      2011
opponent            Notre Dame
location                  Home
result                       W
pts_scored                  35
pts_against                 31
pass_cmp                    11
pass_att                    24
pass_pct                  45.8
pass_yrds                  338
pass_tds                     4
pass_first_downs            10
rush_att                    26
rush_yrds                  114
rush_tds                     1
rush_first_downs             5
total_offense              452
fumbles                      0
ints                         3
Name: 2011-09-10, dtype: object

In [36]:
# To access multiple rows, we can slice the df
hoke_era = df.iloc[:51]
hoke_era

,date,year,opponent,location,result,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
0,2011-09-03,2011,Western Michigan,Home,W,34,10,9,13,69.2,98,0,5,26,190,3,9,288,0,0
1,2011-09-10,2011,Notre Dame,Home,W,35,31,11,24,45.8,338,4,10,26,114,1,5,452,0,3
2,2011-09-17,2011,Eastern Michigan,Home,W,31,3,7,18,38.9,95,2,5,50,376,2,19,471,0,1
3,2011-09-24,2011,San Diego State,Home,W,28,7,8,17,47.1,93,0,3,45,320,4,14,413,2,2
4,2011-10-01,2011,Minnesota,Home,W,58,0,18,25,72.0,217,3,10,48,363,3,19,580,0,0
5,2011-10-08,2011,Northwestern,Away,W,42,24,19,28,67.9,362,2,14,50,179,4,8,541,0,3
6,2011-10-15,2011,Michigan State,Away,L,14,28,12,31,38.7,168,1,6,36,82,1,8,250,0,1
7,2011-10-29,2011,Purdue,Home,W,36,14,10,17,58.8,196,0,7,53,339,4,17,535,0,2
8,2011-11-05,2011,Iowa,Away,L,16,24,18,38,47.4,196,2,10,37,127,0,10,323,1,1
9,2011-11-12,2011,Illinois,Away,W,31,14,8,15,53.3,139,1,6,48,223,3,8,362,2,1
10,2011-11-19,2011,Nebraska,Home,W,45,17,11,19,57.9,180,2,6,61,238,4,14,418,0,1
11,2011-11-26,2011,Ohio State,Home,W,40,34,14,17,82.4,167,3,8,50,277,2,14,444,1,0
12,2012-01-03,2011,Virginia Tech,Neutral,W,23,20,10,22,45.5,128,2,7,30,56,0,3,184,0,1
13,2012-09-01,2012,Alabama,Neutral,L,14,41,11,27,40.7,200,1,5,29,69,1,5,269,0,3
14,2012-09-08,2012,Air Force,Home,W,31,25,14,25,56.0,208,2,12,31,214,2,7,422,0,1
15,2012-09-15,2012,Massachusetts,Home,W,63,13,16,25,64.0,291,3,12,43,294,6,14,585,0,1
16,2012-09-22,2012,Notre Dame,Away,L,6,13,13,25,52.0,138,0,9,41,161,0,9,299,1,5
17,2012-10-06,2012,Purdue,Away,W,44,13,8,16,50.0,105,1,6,54,304,3,12,409,1,0
18,2012-10-13,2012,Illinois,Home,W,45,0,9,15,60.0,174,2,7,51,353,4,13,527,1,0
19,2012-10-20,2012,Michigan State,Home,W,12,10,14,30,46.7,163,0,8,32,163,0,7,326,0,1
20,2012-10-27,2012,Nebraska,Away,L,9,23,9,27,33.3,93,0,7,37,95,0,5,188,0,3
21,2012-11-03,2012,Minnesota,Away,W,35,13,12,18,66.7,234,2,7,41,155,3,8,389,0,1
22,2012-11-10,2012,Northwestern,Home,W,38,31,16,30,53.3,286,2,12,32,133,3,6,419,1,1
23,2012-11-17,2012,Iowa,Home,W,42,17,18,23,78.3,314,3,13,39,199,3,9,513,0,1
24,2012-11-24,2012,Ohio State,Away,L,21,26,11,20,55.0,171,1,5,27,108,2,5,279,3,1
25,2013-01-01,2012,South Carolina,Neutral,L,28,33,18,37,48.6,214,3,10,45,141,0,12,355,1,1
26,2013-08-31,2013,Central Michigan,Home,W,59,9,14,21,66.7,221,1,11,47,242,6,9,463,0,3
27,2013-09-07,2013,Notre Dame,Home,W,41,30,21,33,63.6,294,4,11,39,166,1,11,460,0,1
28,2013-09-14,2013,Akron,Home,W,28,24,16,30,53.3,248,2,10,32,177,2,8,425,1,3
29,2013-09-21,2013,Connecticut,Away,W,24,21,11,23,47.8,97,0,6,49,192,3,11,289,2,2
30,2013-10-05,2013,Minnesota,Home,W,42,13,13,17,76.5,235,1,10,35,113,4,7,348,0,0
31,2013-10-12,2013,Penn State,Away,L,40,43,15,29,51.7,240,3,9,54,149,0,9,389,1,2
32,2013-10-19,2013,Indiana,Home,W,63,47,21,29,72.4,503,2,20,54,248,7,15,751,2,0
33,2013-11-02,2013,Michigan State,Away,L,6,29,15,30,50.0,216,0,9,29,-48,0,2,168,0,1
34,2013-11-09,2013,Nebraska,Home,L,13,17,18,27,66.7,196,1,12,36,-21,0,0,175,0,0
35,2013-11-16,2013,Northwestern,Away,W,27,19,24,43,55.8,226,1,15,44,139,1,10,365,0,0
36,2013-11-23,2013,Iowa,Away,L,21,24,13,28,46.4,98,2,5,29,60,0,4,158,1,0
37,2013-11-30,2013,Ohio State,Home,L,41,42,32,47,68.1,451,4,21,35,152,2,9,603,1,0
38,2013-12-28,2013,Kansas State,Neutral,L,14,31,24,38,63.2,196,0,9,15,65,1,5,261,0,1
39,2014-08-30,2014,Appalachian State,Home,W,52,14,16,19,84.2,210,3,10,36,350,3,12,560,0,1
40,2014-09-06,2014,Notre Dame,Away,L,0,31,19,32,59.4,189,0,12,35,100,0,6,289,1,3
41,2014-09-13,2014,Miami (OH),Home,W,34,10,13,22,59.1,184,2,8,45,276,2,15,460,2,1
42,2014-09-20,2014,Utah,Home,L,10,26,18,39,46.2,190,0,8,36,118,0,11,308,1,3
43,2014-09-27,2014,Minnesota,Home,L,14,30,10,25,40.0,88,0,4,28,83,2,5,171,1,1
44,2014-10-04,2014,Rutgers,Away,L,24,26,13,22,59.1,178,0,8,35,158,3,7,336,0,1
45,2014-10-11,2014,Penn State,Home,W,18,13,16,26,61.5,192,1,7,31,64,0,5,256,0,1
46,2014-10-25,2014,Michigan State,Away,L,11,35,15,31,48.4,125,0,7,26,61,1,3,186,1,2
47,2014-11-01,2014,Indiana,Home,W,34,10,22,29,75.9,220,2,11,35,184,2,8,404,0,1
48,2014-11-08,2014,Northwestern,Away,W,10,9,11,24,45.8,109,0,7,35,147,1,6,256,1,2
49,2014-11-22,2014,Maryland,Home,L,16,23,13,24,54.2,106,0,8,45,292,1,13,398,0,1
50,2014-11-29,2014,Ohio State,Away,L,28,42,23,33,69.7,251,2,14,38,121,2,10,372,1,1

To access a specific value within a df, we access by row, and then by column.

In [38]:
rush_yrds_natty = df.iloc[164]['rush_yrds']
rush_yrds_natty

303

In [39]:
rush_off_corr = corr_df['rush_yrds']['total_offense']
rush_off_corr

0.6615323775014653

### Analyzing Data With `groupby()`

In [41]:
# We can use the .groupby() function to form groups within our df
years = df.groupby('year')

In [42]:
# We can access each of the groups using the .get_group() function
games2023 = years.get_group(2023)
games2023

,date,year,opponent,location,result,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
150,2023-09-02,2023,East Carolina,Home,W,30,3,26,31,83.9,280,3,18,31,122,1,4,402,0,0
151,2023-09-09,2023,Nevada-Las Vegas,Home,W,35,7,23,28,82.1,313,2,14,33,179,3,8,492,0,1
152,2023-09-16,2023,Bowling Green State,Home,W,31,6,8,13,61.5,143,2,5,31,169,2,10,312,1,3
153,2023-09-23,2023,Rutgers,Home,W,31,7,15,21,71.4,214,1,9,40,201,2,11,415,0,0
154,2023-09-30,2023,Nebraska,Away,W,45,7,16,23,69.6,187,3,10,51,249,3,15,436,0,0
155,2023-10-07,2023,Minnesota,Away,W,52,10,16,23,69.6,241,1,9,33,191,4,8,432,0,0
156,2023-10-14,2023,Indiana,Home,W,52,7,19,22,86.4,244,4,13,42,163,3,9,407,0,0
157,2023-10-21,2023,Michigan State,Away,W,49,0,28,35,80.0,357,4,18,34,120,2,6,477,0,0
158,2023-11-04,2023,Purdue,Home,W,41,13,24,37,64.9,335,0,15,34,110,5,5,445,1,0
159,2023-11-11,2023,Penn State,Away,W,24,15,7,8,87.5,60,0,4,46,227,3,10,287,0,0
160,2023-11-18,2023,Maryland,Away,W,31,24,12,23,52.2,141,0,9,45,150,3,9,291,0,1
161,2023-11-25,2023,Ohio State,Home,W,30,24,17,21,81.0,182,1,10,39,156,2,8,338,0,0
162,2023-12-02,2023,Iowa,Neutral,W,26,0,22,30,73.3,147,0,9,34,66,2,3,213,0,0
163,2024-01-01,2023,Alabama,Neutral,W,27,20,17,27,63.0,221,3,10,32,130,1,5,351,1,0
164,2024-01-08,2023,Washington,Neutral,W,34,13,10,19,52.6,140,0,6,38,303,4,10,443,0,0

In [43]:
# We can also use .groupby() paired with other functions to get some key calculations
# Ex: mean of grouped W-L results
results = df.groupby('result', sort=False)
results.mean(numeric_only=True).round(4)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
result,,,,,,,,,,,,,,,
W,37.5242,13.9758,15.9032,25.0161,63.3935,210.6694,1.6855,9.2177,41.7984,214.9677,2.7742,10.6290,425.6371,0.4032,0.6048
L,18.5417,31.6042,18.1250,33.6250,53.4167,211.0417,0.9792,9.9167,33.5000,101.8750,0.9583,6.3542,312.9167,0.7500,1.4375

In [44]:
# .mean() with single column
years.mean(numeric_only=True)['rush_tds']

year
2011    2.384615
2012    2.076923
2013    2.076923
2014    1.416667
2015    2.076923
2016    3.153846
2017    2.000000
2018    2.000000
2019    2.000000
2020    2.000000
2021    2.785714
2022    2.928571
2023    2.666667
2024    1.428571
Name: rush_tds, dtype: float64

In [45]:
# .sum()
results.sum(numeric_only=True)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
result,,,,,,,,,,,,,,,
W,4653,1733,1972,3102,7860.8,26123,209,1143,5183,26656,344,1318,52779,50,75
L,890,1517,870,1614,2564.0,10130,47,476,1608,4890,46,305,15020,36,69

In [46]:
# .max()
results.max(numeric_only=True)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
result,,,,,,,,,,,,,,,
W,78,47,33,48,87.5,503,6,20,61,486,9,20,751,3,3
L,45,62,32,52,69.7,451,4,21,54,292,3,13,603,3,5

In [47]:
# .min()
results.min(numeric_only=True)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
result,,,,,,,,,,,,,,,
W,10,0,7,8,38.9,32,0,0,26,56,0,3,184,0,0
L,0,13,9,20,33.3,88,0,3,15,-48,0,0,158,0,0

In [48]:
# .median()
results.median(numeric_only=True)

,pts_scored,pts_against,pass_cmp,pass_att,pass_pct,pass_yrds,pass_tds,pass_first_downs,rush_att,rush_yrds,rush_tds,rush_first_downs,total_offense,fumbles,ints
result,,,,,,,,,,,,,,,
W,35.0,13.0,16.0,25.0,63.8,208.0,2.0,9.0,41.5,198.5,3.0,10.0,433.5,0.0,0.0
L,16.0,30.0,18.0,33.0,53.0,199.0,1.0,9.0,35.0,96.5,1.0,6.0,299.5,1.0,1.0